{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% else %}

  {#  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputPseudo" class="sr-only">Pseudo</label>
    <input type="text" value="{{ last_username }}" name="pseudo" id="inputPseudo" class="form-control" placeholder="Pseudo" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>#}

        <fieldset>

            <!-- Form Name -->
            <legend>Please sign in</legend>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="inputPseudo">Identifiant</label>
                <div class="col-md-4">
                    <input id="inputPseudo" name="pseudo" type="text" placeholder="pseudo" class="form-control input-md" value="{{ last_username }}" required autofocus>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="inputPassword">Mot de passe</label>
                <div class="col-md-4">
                    <input id="inputPassword" name="password" type="password" placeholder="Mot de passe" class="form-control input-md" required>

                </div>
            </div>

        </fieldset>


    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>

    <button class="btn btn-primary" type="submit">
        Sign in
    </button>
</form>
    {% endif %}
{% endblock %}
