{% extends 'base.html.twig' %}

{% block body %}
    <h1>Créer une sortie</h1>

    {{ form_start(SortieForm) }}

    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        {{ form_label(SortieForm.nom) }}
                    </div>
                    <div class="col-6">
                        {{ form_widget(SortieForm.nom) }}
                        {{ form_errors(SortieForm.nom) }}
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        {{ form_label(SortieForm.datedebut) }}
                    </div>
                    <div class="col-6">
                        {{ form_widget(SortieForm.datedebut) }}
                        {{ form_errors(SortieForm.datedebut) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        {{ form_label(SortieForm.duree) }}
                    </div>
                    <div class="col-6">
                        {{ form_widget(SortieForm.duree) }}
                        {{ form_errors(SortieForm.duree) }}
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        {{ form_label(SortieForm.datecloture) }}
                    </div>
                    <div class="col-6">
                        {{ form_widget(SortieForm.datecloture) }}
                        {{ form_errors(SortieForm.datecloture) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        {{ form_label(SortieForm.nbinscriptionsmax) }}
                    </div>
                    <div class="col-6">
                        {{ form_widget(SortieForm.nbinscriptionsmax) }}
                        {{ form_errors(SortieForm.nbinscriptionsmax) }}
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        {{ form_label(SortieForm.descriptioninfos) }}
                    </div>
                    <div class="col-6">
                        {{ form_widget(SortieForm.descriptioninfos) }}
                        {{ form_errors(SortieForm.descriptioninfos) }}
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" id="pathajax" value="{{ path('ajax_sortie') }}"/>
        <div class="row">
            {#            <div class="col-6">#}
            {#                <div class="row">#}
            {#                    <div class="col-6">#}
            {#                        {{ form_label(SortieForm.siteSortie) }}#}
            {#                    </div>#}
            {#                    <div class="col-6">#}
            {#                        {{ form_widget(SortieForm.siteSortie) }}#}
            {#                        {{ form_errors(SortieForm.siteSortie) }}#}
            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        {#                        {{ form_label(SortieForm.siteSortie) }}#}
                        <label>Villes :</label>
                    </div>
                    <div class="col-6">
                        <select id="sortie_siteSortie" class="villeclass">
                            {% for ville in AllVille %}
                                <option value="{{ ville.noVille }}">{{ ville.nomVille }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        {{ form_label(SortieForm.urlphoto) }}
                    </div>
                    <div class="col-6">
                        {{ form_widget(SortieForm.urlphoto) }}
                        {{ form_errors(SortieForm.urlphoto) }}
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        {{ form_label(SortieForm.lieuSortie) }}
                    </div>
                    <div class="col-5">
                        {{ form_widget(SortieForm.lieuSortie) }}
                        {{ form_errors(SortieForm.lieuSortie) }}
                    </div>
                    <div class="col-1" style="padding-left: 0px;">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#LieuModal">+
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        <label>Ville organisatrice :</label>
                    </div>
                    <div class="col-6">
                        <label>{{ VilleOrga }}</label>
                    </div>
                </div>
            </div>
            {#            <div class="col-6">#}
            {#                <div class="row">#}
            {#                    <div class="col-6">#}
            {#                        {{ form_row(SortieForm) }}#}
            {#                    </div>#}
            {#                    <div class="col-6">#}
            {#                        {{ form_row(SortieForm) }}#}
            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}
        </div>
        <div class="row">
            <div class="col-4">
                <button type="submit" name='btn_enregistrer' value="enregistrer">Enregistrer</button>
            </div>
            <div class="col-4">
                <button type="submit" name="btn_publier" value="publier">Publier la sortie</button>
            </div>
            <div class="col-4">
                <button type="reset">Annuler</button>
            </div>
        </div>
        {{ form_end(SortieForm) }}
    </div>
    <div class="modal fade" id="LieuModal" tabindex="-1" role="dialog" aria-labelledby="LieuModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="LieuModalLabel">Nouveau Lieu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(LieuxForm) }}
                    {{ form_widget(LieuxForm) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" value="Fermer">Fermer</button>
                    <button type="submit" class="btn btn-primary" value="Ajouter" name='btn_ajouter'>Ajouter</button>
                </div>
            </div>
            {{ form_end(LieuxForm) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $('#LieuModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        });

        $(document).ready(function () {
            console.log("jQuery est prêt !");

            $(".villeclass").change(function () {
                mafonctionchange('lieux', 'ville');
            }).trigger('change');

            function mafonctionchange(selecteur, selecteurparent) {
                $.ajax({
                    url: $("#pathajax").val(),
                    type: 'POST',
                    data:
                        {
                            id: $("select." + selecteurparent + "class option:selected").val(),
                            select: selecteur
                        },
                    dataType: 'json',
                    success: function (reponse) {
                        console.log(reponse);
                        $('.lieuxclass').empty();
                        $.each(reponse, function (index, element) {
                            $('.lieuxclass').append('<option value="' + element.noLieu + '" selected="selected"> ' + element.nomLieu + ' </option>');
                        });
                    }
                });
            }
        });
    </script>
{% endblock %}