{% extends 'base.html.twig' %}

{% block body %}
    <h1>Créer une sortie</h1>

    {{ form_start(SortieForm) }}

    <div class="container-fluid">

        {% include 'Sortie/form_sortie.html.twig' %}

        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <label>Ville organisatrice :</label>
                    </div>
                    <div class="col-md-4">
                        <label>{{ VilleOrga }}</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row p-2">
            <div class="col-md-4 d-flex justify-content-center">
                <button type="submit" name='btn_enregistrer' value="enregistrer" class="btn btn-enrg-sort">Enregistrer</button>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <button type="submit" name="btn_publier" value="publier" class="btn btn-publie-sort">Publier la sortie</button>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <button class="btn btn-create-sort"><a href="{{ path('liste_sortie') }}" class="no-style-a">Annuler</a></button>
            </div>
        </div>
        {{ form_end(SortieForm) }}
    </div>
    {% include 'Sortie/modal_ajout_lieux.html.twig' %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/ajax_request.js') }}"></script>

    <script>
        $('#LieuModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        });
{% endblock %}