{% extends 'base.html.twig' %}

{% block body %}
    <h1>Créer une sortie</h1>

    {{ form_start(SortieForm) }}

    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        {{ form_label(SortieForm.nom) }}
                    </div>
                    <div class="col-6">
                        {{ form_widget(SortieForm.nom) }}
                        {{ form_errors(SortieForm.nom) }}
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        {{ form_label(SortieForm.datedebut) }}
                    </div>
                    <div class="col-6">
                        {{ form_widget(SortieForm.datedebut) }}
                        {{ form_errors(SortieForm.datedebut) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        {{ form_label(SortieForm.duree) }}
                    </div>
                    <div class="col-6">
                        {{ form_widget(SortieForm.duree) }}
                        {{ form_errors(SortieForm.duree) }}
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        {{ form_label(SortieForm.datecloture) }}
                    </div>
                    <div class="col-6">
                        {{ form_widget(SortieForm.datecloture) }}
                        {{ form_errors(SortieForm.datecloture) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        {{ form_label(SortieForm.nbinscriptionsmax) }}
                    </div>
                    <div class="col-6">
                        {{ form_widget(SortieForm.nbinscriptionsmax) }}
                        {{ form_errors(SortieForm.nbinscriptionsmax) }}
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        {{ form_label(SortieForm.descriptioninfos) }}
                    </div>
                    <div class="col-6">
                        {{ form_widget(SortieForm.descriptioninfos) }}
                        {{ form_errors(SortieForm.descriptioninfos) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                    </div>
                    <div class="col-6">
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        {#                        {{ form_label(SortieForm.siteSortie) }}#}
                        <label>Villes :</label>
                    </div>
                    <div class="col-6">
                        <select id="sortie_siteSortie">
                        {% for ville in AllVille %}
                            <option value="{{ ville.noVille }}">{{ ville.nomVille }}</option>
                        {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        {{ form_label(SortieForm.urlphoto) }}
                    </div>
                    <div class="col-6">
                        {{ form_widget(SortieForm.urlphoto) }}
                        {{ form_errors(SortieForm.urlphoto) }}
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        {{ form_label(SortieForm.lieuSortie) }}
                    </div>
                    <div class="col-6">
                        {{ form_widget(SortieForm.lieuSortie) }}
                        {{ form_errors(SortieForm.lieuSortie) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        <label>Ville organisatrice :</label>
                    </div>
                    <div class="col-6">
                        <label>{{ VilleOrga }}</label>
                    </div>
                </div>
            </div>
            {#            <div class="col-6">#}
            {#                <div class="row">#}
            {#                    <div class="col-6">#}
            {#                        {{ form_row(SortieForm) }}#}
            {#                    </div>#}
            {#                    <div class="col-6">#}
            {#                        {{ form_row(SortieForm) }}#}
            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}
        </div>
        <div class="row">
            <div class="col-4">
                <button type="submit" name='btn_enregistrer' value="enregistrer">Enregistrer</button>
            </div>
            <div class="col-4">
                <button type="submit" name="btn_publier" value="publier">Publier la sortie</button>
            </div>
            <div class="col-4">
                <button type="reset">Annuler</button>
            </div>
        </div>
        {{ form_end(SortieForm) }}
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            console.log("ready!");
            var $site = $('#sortie_siteSortie');
            // When sport gets selected ...
            $site.change(function () {
                // ... retrieve the corresponding form.
                var $form = $(this).closest('form');
                // Simulate form data, but only include the selected sport value.
                var data = {};
                data[$site.attr('name')] = $site.val();
                // Submit data via AJAX to the form's action path.
                $.ajax({
                    url: $form.attr('action'),
                    type: $form.attr('method'),
                    data: data,
                    success: function (html) {
                        // Replace current position field ...
                        $('#sortie_lieuSortie').replaceWith(
                            // ... with the returned one from the AJAX response.
                            $(html).find('#sortie_lieuSortie')
                        );
                        // Position field now displays the appropriate positions.
                    }
                });
            });
        });
    </script>
{% endblock %}