{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Accueil{% endblock %}

{% block body %}

    <p class="h1" style="text-align: center; margin: 3% 3% 3% 3%">Afficher une sortie</p>

    <table class="table table-bordered">

        <tr>
            <td>Nom de la sortie : {{ sortie.nom }}</td>
            <td>Ville organisatrice : {{ sortie.siteSortie.nomSite }}</td>
        </tr>
        <tr>
            <td>Date et heure de la sortie : {{ sortie.datedebut|date("Y-m-d H:i") }}</td>
            <td>Lieu : {{ sortie.lieuSortie.nomLieu }}</td>
        </tr>
        <tr>
            <td>Date limite d'inscription : {{ sortie.datecloture|date("Y-m-d H:i") }}</td>
            <td>Rue : {{ sortie.lieuSortie.rue }}</td>
        </tr>
        <tr>
            <td>Nombre de place : {{ sortie.nbinscriptionsmax }}</td>
            <td>Code Postal : {{ sortie.lieuSortie.villeLieu.codePostal }}</td>
        </tr>
        <tr>
            <td>Durée : {{ sortie.duree }} minutes</td>
            <td>Latitude : {{ sortie.lieuSortie.latitude }}</td>
        </tr>
        <tr>
            <td>Description et infos : {{ sortie.descriptioninfos }}</td>
            <td>Longitude : {{ sortie.lieuSortie.longitude }}</td>
        </tr>
        <tr>
            <td>
                {% set break = false %}
                {% for inscriptions in inscriptions if not break %}
                    {% if app.user.noParticipant|trans == inscriptions.participantInscription.noparticipant %}
                        <a href="{{ path('desinscription', {'id_participant': app.user.noParticipant, 'id_sortie' : sortie.noSortie}) }}">Se
                    désincrire</a>
                        {% set break = true %}
                    {% elseif app.user.noParticipant == sortie.organisateurSortie.noParticipant %}
                    {% else %}
                        <a href="{{ path('inscription', {'id_participant': app.user.noParticipant, 'id_sortie' : sortie.noSortie}) }}">S'inscrire</a>
                    {% endif %}
                {% endfor %}
                {% if break == false %}
                <a href="{{ path('inscription', {'id_participant': app.user.noParticipant, 'id_sortie' : sortie.noSortie}) }}">S'inscrire</a>
                {% endif %}

            </td>
        </tr>
    </table>

    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th scope="col">Pseudo</th>
                <th scope="col">Nom</th>
            </tr>
        </thead>
        <tbody>
            {% for inscriptions in inscriptions %}
                <tr style="cursor: pointer" data-href="{{ path('user_profile', {pseudo: inscriptions.participantInscription.username}) }}">
                    <td>
                        {{ inscriptions.participantInscription.username }}
                    </td>
                    <td>
                        {{ inscriptions.participantInscription.nom }} {{ inscriptions.participantInscription.prenom }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
{% block javascripts %}
    <script>


        $(document).ready(function(){
            $('tr[data-href]').on("click", function() {
                document.location = $(this).data('href');
            });
        });

    </script>
{% endblock %}