<div class="row">
    <div class="col">
        <form action="{{ path('liste_sortie') }}" method="post">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <label for="nomSite" class="col-md-6 control-label m-1">Site</label>
                        <div class="col-md-5 m-1">
                            <select id="nomSite" name="nomSite" class="form-control">
                                <option value="">Tous</option>
                                {% for site in sites %}
                                    {% set selected = '' %}
                                    {% if site.noSite == siteId %}
                                        {% set selected = 'selected="selected"' %}
                                    {% endif %}
                                    <option value="{{ site.noSite }}" {{ selected }} >{{ site.nomSite }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <label for="nomSortie" class="col-md-6 control-label m-1">Nom de la sortie</label>
                        <div class="col-md-5 m-1">
                            <input type="text" id="nomSortie" name="nomSortie" class="form-control input-md"
                                   value="{{ nomSortie }}"/>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        {% set checked = '' %}
                        {% if estOrga == 1 %}
                            {% set checked = 'checked="checked"' %}
                        {% endif %}
                        <input class="form-check-input" type="checkbox" value="1" id="estOrganisateur"
                               name="estOrganisateur" {{ checked }}>
                        <label class="form-check-label" for="estOrganisateur">
                            Sorties dont je suis organisateur/trice
                        </label>
                    </div>
                    <div class="form-check">
                        {% set checked = '' %}
                        {% if estInscrit == 1 %}
                            {% set checked = 'checked="checked"' %}
                        {% endif %}
                        <input class="form-check-input" type="checkbox" value="1" id="estInscrit"
                               name="estInscrit" {{ checked }}>
                        <label class="form-check-label" for="estInscrit">
                            Sorties auxquelles je suis inscrit/e
                        </label>
                    </div>
                    <div class="form-check">
                        {% set checked = '' %}
                        {% if estPasInscrit == 1 %}
                            {% set checked = 'checked="checked"' %}
                        {% endif %}
                        <input class="form-check-input" type="checkbox" value="1" id="estPasInscrit"
                               name="estPasInscrit" {{ checked }}>
                        <label class="form-check-label" for="estPasInscrit">
                            Sorties auxquelles je ne suis pas inscrit/e
                        </label>
                    </div>
                    <div class="form-check">
                        {% set checked = '' %}
                        {% if sortiesPassees == 1 %}
                            {% set checked = 'checked="checked"' %}
                        {% endif %}
                        <input class="form-check-input" type="checkbox" value="1" id="sortiesPassees"
                               name="sortiesPassees" {{ checked }}>
                        <label class="form-check-label" for="sortiesPassees">
                            Sorties passées
                        </label>
                    </div>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-rech m-1">Rechercher</button>
                    <a href="{{ path('liste_sortie') }}" class="btn btn-create-sort"><span
                                class="glyphicon glyphicon-pencil"></span>Réinitialiser</a>
                </div>
            </div>
            <div class="row">
                <label for="debutDate" class="col-md-1 control-label m-1">Entre</label>
                <div class="col-md-3  m-1">
                    <input type="date" id="debutDate" name="debutDate" class="form-control"
                           value="{{ dateDebut }}"/>
                </div>
                <label for="finDate" class="col-md-1 control-label m-1">et</label>
                <div class="col-md-3  m-1">
                    <input type="date" id="finDate" name="finDate" class="form-control"
                           value="{{ dateFin }}"/>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-2 col-sm-2">
        <a href="{{ path('ajouter_sortie') }}" class="btn btn-create-sort"><span
                    class="glyphicon glyphicon-pencil"></span>Créer une sortie</a>
    </div>
</div>