{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifier une sortie</h1>

    {{ form_start(SortieForm) }}

    <div class="container-fluid">

        {% include 'Sortie/form_sortie.html.twig' %}

{#        <div class="row">#}
{#            <div class="col-3">#}
{#                <button type="submit" name='btn_enregistrer' value="enregistrer">Enregistrer</button>#}
{#            </div>#}
{#            <div class="col-3">#}
{#                <button type="submit" name="btn_publier" value="publier">Publier la sortie</button>#}
{#            </div>#}
{#            <div class="col-3">#}
{#                <button name="btn_supprimer" value="supprimer"><a href="{{ path('supprimer_sortie', {'id': sortie.noSortie}) }}" class="btnsupp">Supprimer la sortie</a></button>#}
{#            </div>#}
{#            <div class="col-3">#}
{#                <button type="reset">Annuler</button>#}
{#            </div>#}
{#        </div>#}

        <div class="row p-2">
            <div class="col  d-flex justify-content-center">
                <button type="submit" name='btn_enregistrer' value="enregistrer" class="btn btn-enrg-sort">Enregistrer</button>
            </div>
            <div class="col d-flex justify-content-center">
                <button type="submit" name="btn_publier" value="publier" class="btn btn-publie-sort">Publier la sortie</button>
            </div>
            <div class="col d-flex justify-content-center">
                <button name="btn_supprimer" value="supprimer" class="btn btn-create-sort">
                    <a href="{{ path('supprimer_sortie', {'id': sortie.noSortie}) }}" class="no-style-a">Supprimer la sortie</a>
                </button>
            </div>
            <div class="col d-flex justify-content-center">
                <button type="reset" class="btn btn-create-sort">Annuler</button>
            </div>
        </div>

        {{ form_end(SortieForm) }}
    </div>
    {% include 'Sortie/modal_ajout_lieux.html.twig' %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/ajax_request.js') }}"></script>

    <script>
        $('#LieuModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        });
    </script>
{% endblock %}