<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Sortir.com{% endblock %}</title>
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<header>


    <nav>
        <a href="{{ path('liste_sortie') }}"><img src="{{ asset('img/logo_2.png') }}" style="max-width:90%; max-height:90%;"> Accueil</a>
        {% if (is_granted("ROLE_ADMIN")) or (is_granted('ROLE_USER'))%}
            <a href="{{ path('my_account') }}" >Mon profil</a>
            <a href="{{ path('app_logout') }}">Se déconnecter</a>
        {% endif %}
        {% if (is_granted("ROLE_ADMIN"))%}
            <a href="{{ path('gestion_users') }}">Utilisateurs</a>
            <a href="{{ path('villes_list') }}">Villes</a>
        {% endif %}

        <div class="animation start-home"></div>
    </nav>



</header>
<div class="container">

    {% block body %}{% endblock %}

    <script type="text/javascript" src="{{ asset('js/jquery-3.4.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/js.cookie.js') }}"></script>
    <script type="text/javascript">
        if ( window.addEventListener ) {
            var state = 0, konami = [38,38,40,40,37,39,37,39,66,65];
            window.addEventListener("keydown", function(e) {
                if ( e.keyCode == konami[state] ) state++;
                else state = 0;
                if ( state == 10 )
                    window.location = "https://ia801602.us.archive.org/11/items/Rick_Astley_Never_Gonna_Give_You_Up/Rick_Astley_Never_Gonna_Give_You_Up.mp4";  //you can write your own code here
            }, true);
        }
    </script>
    {% block javascripts %}{% endblock %}
</div>
<footer>
    <div class="container">
        © {{ "now"|date("Y") }} Sortir.com
    </div>
</footer>
</body>
</html>
