{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifier mon compte</h1>
    {{ form_start(UpdateForm, {attr: {class: 'form-group'} }) }}
    {{ form_widget(UpdateForm, {attr: {class: 'form-group'} }) }}
    <button type="submit">Modifier</button>
    {{ form_end(UpdateForm) }}
    <img src=" {{app.request.basepath}}/photo/{{ app.user.getPhotoProfil() }}" />

{% endblock %}

{% block javascripts %}
{% endblock %}
